<% include header %>
        <link rel="stylesheet" href="page1.css" rel="stylesheet" type="text/css">
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="nav-header">
                        <a class="navbar-brand" href="#"><strong>A03 Manogna Sivangula</strong></a>
                    </div>
                </div>
            </nav>   
        </div>
        <div class="navbar"></div>
        <div class="container">
                <h1>Home Page</h1>
                </div>
            </div>
        <div id="img1">
        <img src="IMG_0647.JPG" class="img-circle" alt="Manogna Sivangula" width="150px" height="150px"></div>
      <div class="container">
            <div class="col-md-2">
            <div class="row">
         <a href="/page1" class="btn btn-info" role="button">Homepage</a>
         </div>
         <div class="row"><a href="/page2" class="btn btn-info" role="button">Validate your card</a>
         </div>
         <div class="row"><a href="/page3" class="btn btn-info" role="button">Contact</a>
      </div>
      <div class="row">
        <a href="/index" class="btn btn-info" role="button">guestbook</a>
        </div>
    </div>
    <div class="col-md-6">
<section>
    <header id="head">This is my new personal webpage</header>
    <p>
        I am a newly admitted student for the Spring 2018. Pursuing my Masters in the field of Applied Computer Science in NORTHWEST MISSOURI STATE UNIVERSITY.
        </p>
        <p>I am from Southern part of India and my home town is khammam.I have done my UnderGraduation from St.Martin's Engineering College,Hyderabad in the stream of Computer Science and Engineering.I have published a Research Paper on INTERNET OF THINGS in International Journal of Computer Science and Information Technology( IJCSIT with impact factor 5.6).Certified as MICROSOFT TECHNICAL ASSOCIATE in Database Fundamentals.
        </p>
        <p>I would like to see myself as a Software Developer and Game Developer.I would like to work on Web applications,Games,Banking,Cyber security and cryptography.
        </p>
</section>
</div>
</div>
<div class="container">
    <div class="col-md-10"
<article>
      <header id="head">Northwest Missouri State University</header>  
           <para>
            Northwest Missouri State University is a state university in Maryville, Missouri, United States. Founded in 1905 as a teachers college, it offers both undergraduate and graduate programs.<br/>
            Address: 800 University Dr, Maryville, MO 64468<br/>
            Total enrollment: 6,831 (2011)<br/>
            Acceptance rate: 76.6% (2014)<br/>
     watch campus this video to see CAMPUS</para>
</article>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mgjnW7Q42Tc"></iframe>
<br/>
<br/>
</div>
<% include footer %>
