body{
    background-image:url("https://www.planwallpaper.com/static/images/406878.jpg");
    color: black;
    }

    #head{
    background-color: aqua;
    color: maroon;
    border: 4px solid SlateBlue;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: Georgia;
    }
    
    #foot{
    background-color: red;
    border: 2px solid black;
    color: white;
    text-align: center;
    }

    .container{
        color:white;
        margin-left: 100px;
        margin-right:100px;}


        h1{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            border: 2px dotted black;
            background-color:darkgoldenrod;
        }
        #img1{
           float:right;
        }